@use '../../scss/base';

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: base.$font-text;
    background-color: base.$clr-grey;
    border-top: base.$clr-font solid 2px;
    font-size: base.$font-size-p;
    padding: 2.5em 4em;
    margin-top: 4em;

    & .links {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        & p {
            font-weight: 500;
            margin: 0;
        }

        & h2 {
            margin: 0;
            font-family: base.$font-heading;
            font-weight: 400;
            font-size: calc(1.25 * base.$font-size-p);
            padding-left: 2em;
       }
    }
}

.iiitd-address {
  display: flex;
  flex-direction: column;
  max-width: 35%;
  align-items: flex-start;
    font-size: base.$font-size-p;

  & img {
    width: 300px;
    fill: base.$clr-bg;
  }

  & span {
    font-size: 0.75em;
  }
}

.footer a {
  text-decoration: none;
  cursor: pointer;
  color: base.$clr-font;
}

//.footer h2 {
  // history book background: linear-gradient(to right, #f5e3e6, #d9e4f5);
  // fear of swedish background: linear-gradient(to right, #cfd6e6, #e7eff9);
  //background: linear-gradient(to right, #e1dada, #bdcad9);
  //background-size: 200% auto;
  //background-clip: text;
  //color: transparent;
  //-webkit-background-clip: text;
  //-webkit-text-fill-color: transparent;
  //animation: shine 3s linear infinite;

  //@keyframes shine {
    //to {
      //background-position: 200% center;
    //}
  //}
//}


@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        padding: 0;

        & h2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        & .links {
          margin: 30px 0;
          & h2 {
            display: flex;
            flex-direction: row;
            gap: 5px;
          }
        }
    }

    .iiitd-address {
      margin: 10px 0;
      max-width: 100%;
    }

}
