$animation-duration: 50s;

.imagecollage-container {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 15vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 1;
  }


}

.imagecollage {
  position: absolute;
  top: -50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 200vh;
  transform: rotate(-15deg);

  & div {
    width: 32%;
  }
}

@for $i from 1 through 3 {
  .collage-img-#{$i} {
    background-image: url('../../assets/home-bg-' + $i + '.jpg');
    background-size: 100%;
    @if ($i % 2 == 0) {
      animation: imagescroll-down $animation-duration linear infinite;
    } @else {
      animation: imagescroll-up $animation-duration linear infinite;
    } 
  }
}

@keyframes imagescroll-down {
  100% {
    background-position-y: 1392px;
  }
}

@keyframes imagescroll-up {
  100% {
    background-position-y: -1254px;
  }
}

@media screen and (max-width: 820px) {
  .imagecollage {
    transform: rotate(-15deg) scale(1.5);
  }
}
