.slideshow {
  margin: 1em 0;
  width: 100%;
}

.carousel {
  background: black;
  position: relative;
  margin-bottom: 100px;

  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 10%;
    height: 100%;
  }

  &::before {
    left: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    z-index: 1;
  }

  &::after {
    right: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  }
}

.carousel-cell {
  //width: 70%;
  width: 22%;
  margin: 0 10px;
  height: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display:         flex;
  flex-direction: column;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-items: center;
          align-items: center;

  & span {
    text-align: center;
  }

  @media screen and (max-width: 820px) {
    width: 50%;
    margin-bottom: 0;
    margin: 0 20px;
    height: 250px;
  }
}

.carousel-cell img {
  display: block;
  width: 100%;
  max-height: 70%;
  object-fit: cover;
  opacity: 0.7;
  border-radius: 6px;
  //-webkit-transform: scale(0.85);
          //transform: scale(0.85);
  //-webkit-filter: blur(5px);
          //filter: blur(5px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
          transition: opacity 0.3s, transform 0.3s, filter 0.3s;

  @media screen and (max-width: 820px) {
    height: 70%;
  }
}

.carousel-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0.6;
  z-index: 1;
}
.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }
.flickity-prev-next-button:disabled {
  display: none;
}
