$clr-bg: #000;
$clr-font: #fff;
$font-text: 'Anek Odia';
$font-heading: 'Amsterdam';
$font-size-p: 0.5rem;
$font-size-h: 1.5rem;

html {
  font-size: 40px;
}

body {
  background-color: $clr-bg;
  color: $clr-font;
  font-family: $font-text;
  margin: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: amsterdam;
  src: url(../assets/amsterdam.ttf);
}

@mixin container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem;
}

@mixin heading {
    font-family: $font-heading;
    font-weight: 400;
    font-size: $font-size-h;
}

.blur {
   filter: blur(4px);
}

@media screen and (max-width: 768px) {
  html {
    font-size: 26px;
  }
}
