@use 'base';

.contact {
  @include base.container;
  min-height: 0;
  height: 50vh;
  margin-top: 50px;
  justify-content: center;
  //background-image: url(../assets/contact-bg.jpg);
  //background-repeat: no-repeat;
  //background-size: cover;
  //background-position: 0 0;
  //position: relative;

  & h1 {
    @include base.heading;
  }

  //&::after {
    //content: '';
    //position: absolute;
    //bottom: 0;
    //width: 100%;
    //height: 100px;
    //background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  //}

  @media screen and (max-width: 820px) {
    height: 25vh;
  }
}

.imp-contacts {
  @include base.container;
  padding: 0;
  background-color: #171717;

  & h2 {
    font-size: base.$font-size-h;
    font-weight: 700;
    text-align: center;
  }

  & ul {
    width: 100%;
    padding: 0;

    & li {
      display: flex;
      //margin: 0.1rem 0;
      justify-content: space-between;

      & p {
        width: 49%;
        margin: 0;
        font-size: base.$font-size-p;

        & .desc {
          font-size: 0.75em;
          font-weight: 400;
          max-width: 50%;
          margin-left: auto;

          @media screen and (max-width: 768px) {
            width: 90%;
            max-width: 90%;
          }
        }
      }

      .left {
       text-align: left;
       font-weight: 400;
      }

      .right {
       text-align: right;
       font-weight: 1000;
      }
    }

    & .mg-l {
      margin: 20px 0;
    }
  }
}

.directions {
  @include base.container;
  align-items: flex-start;
  font-size: base.$font-size-p;
  
  & h2 {
    font-size: base.$font-size-h;
    align-self: center;
  }

  & h3 {
    margin-bottom: 0;
    font-weight: 700;
  }
  
  & p {
    margin: 5px 0;
  }
}

.virtual-tours {
  @include base.container;

  & div {
    @include base.container;
    padding: 0;
    min-height: 0;
    flex-direction: row;
    justify-content: center;
    margin: 0;

    & iframe {
      width: 550px;
      height: 350px;
      margin: 0 1rem;
    }

    @media screen and (max-width: 820px) {
      flex-direction: column;
      padding: 0;

      & iframe {
        width: 100%;
        height: 300px;
        margin: 1em 0;
      }
    }
  }
}

.map-container {
  @include base.container;
  justify-content: center;

  & .map {
    @include base.container;
    min-height: 0;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60vh;
    gap: 20px;

    & iframe {
      height: 100%;
    }

    & div {
      @include base.container;
      min-height: 0;
      height: 100%;
      width: 45%;
      align-items: flex-start;
      justify-content: space-between;
      padding: 0;
      font-size: base.$font-size-h;

      & h3 {
        font-size: 0.5em;
        margin: 0;
      }

      & div {
        width: 100%;
        padding: 0;
        height: auto;
        justify-content: center;
        font-size: base.$font-size-p;

        & h4 {
          font-size: 1em;
          margin: 0;
        }

        & p {
          font-size: 0.75em;
          margin: 0;
        }

      }

      @media screen and (max-width: 820px) {
        padding: 0;
      }
    }

    @media screen and (max-width: 820px) {
      flex-direction: column-reverse;
      height: auto;
      padding: 0;

      & iframe {
        width: 100%;
        height: 40vh;
      }

      & div {
        width: 100%;
      }
    }
  }
}
