@use 'base';

.navbar-container {
  opacity: 0;
}

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 2;
  background: base.$clr-bg;
  //opacity: 0.5;
  margin: 0;
  padding: 1rem 2rem;
  box-shadow: 0 1px 8px 1px black;

  & img {
    width: 100px;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;

  & li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;

    & img {
      width: 25px;
      cursor: pointer;
    }

    &  a {
      margin-top: auto;
      text-transform: uppercase;
      text-decoration: none;
      width: 100%;
      font-size: base.$font-size-p;
      font-weight: 400;
      color: base.$clr-font;
    }
  }
}

.navbar-expanded {
  align-items: flex-start;
  height: 100%;
  background: transparent;
}

.hidden {
  display: none;
}

.nav-active {
  border-bottom: 1px solid white;
}

@media screen and (max-width: 768px) {
  .nav-list {
    width: 100%;
    flex-direction: column;
    align-items: center;

    & li {
      margin: 10px 0;
      & a {
        font-size: calc(1.25 * base.$font-size-p);
      }
    }
  }

  .nav-close {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}


///////////////////////
.nav-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
  cursor: pointer;
}

#nav-icon {
  width: 45px;
  height: 24px;
  position: relative;
  //margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: base.$clr-font;
  border-radius: 6px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 12px;
}

#nav-icon span:nth-child(4) {
  top: 24px;
}

#nav-icon.open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%;
}
